<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.poojasingh.tutorialkotlin">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TutorialKotlin"
        android:name="androidx.multidex.MultiDexApplication">
        <activity android:name=".ui.ReceiverActivity"></activity>
        <activity android:name=".ui.AsyncTaskActivity" />
        <activity android:name=".ui.ServiceActivity" />
        <activity android:name=".ui.HandlerActivity" />
        <activity android:name=".ui.DataBindingViewModelActivity">
        </activity>
        <activity android:name=".ui.ConstraintLayoutExampleActivity" />
        <activity android:name=".ui.ViewModelActivity" />
        <activity android:name=".ui.DataBindingActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".service.IntentServiceExample" />
        <service
            android:name=".service.ServiceExample"
            android:enabled="true"
            android:exported="true" />
        <service android:name=".service.ServiceAsyncExample" />
        <service android:name=".service.MusicService" />
        <service android:name=".service.ForegroundService"/>
    </application>

</manifest>