<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.poojasingh.tutorialkotlin">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TutorialKotlin">
        <activity android:name=".TestingActivity"></activity>
        <activity android:name=".rxExample.RxJavaExamplesActivity" />
        <activity android:name=".ui.NewsActivity" />
        <activity android:name=".ui.NewsDetailActivity" />
        <activity android:name=".ui.ToolbarExActivity" />
        <activity android:name=".ui.BitmapExamplesActivity" />
        <activity android:name=".ui.WebViewActivity" />
        <activity android:name=".studyexample.SyntaxExampleActivity" />
        <activity android:name=".ui.PermissionsActivity" />
        <activity android:name=".ui.TextViewActivity" />
        <activity android:name=".ui.ViewExampleActivity" />
        <activity android:name=".ui.ExtensionFunctionActivity" />
        <activity android:name=".ui.ListViewHolderActivity" />
        <activity android:name=".ui.ReceiverActivity" />
        <activity android:name=".ui.AsyncTaskActivity" />
        <activity android:name=".ui.ServiceActivity" />
        <activity android:name=".ui.HandlerActivity" />
        <activity android:name=".ui.DataBindingViewModelActivity" />
        <activity android:name=".ui.ConstraintLayoutExampleActivity" />
        <activity android:name=".ui.ViewModelActivity" />
        <activity android:name=".ui.DataBindingActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".service.IntentServiceExample" />
        <service
            android:name=".service.ServiceExample"
            android:enabled="true"
            android:exported="true" />
        <service android:name=".service.ServiceAsyncExample" />
        <service android:name=".service.MusicService" />
        <service android:name=".service.ForegroundService" />
    </application>

</manifest>